---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100">
		<div class="bg-white h-16 flex items-center ">
			<header class="flex justify-between container max-w-6xl mx-auto">
				<h1><span class="font-semibold text-blue-600">h.</span><span>Phone</span></h1>
				<menu>
					<ul class="space-x-5">
						<li class="inline"><a href="">Home</a></li>
						<li class="inline"><a href="">Shop</a></li>
						<li class="inline"><a href="">Product</a></li>
						<li class="inline"><a href="">Blog</a></li>
						<li class="inline"><a href="">Contact</a></li>
					</ul>
				</menu>
				<div>botones</div>
			</header>
		</div>
		<slot />
	</body>
</html>
